{variables, [
  {name, "suitename"}, 
  {copyright_year, "2012"},
  {author_name, "Tim McGilchrist"},
  {author_email,"timmcgil@gmail.com"}
]}.
{dir, "test"}.
{template, "ctsuite.erl", "test/{{name}}_SUITE.erl"}.
