{variables, [
  {name, "escriptname"}, 
  {copyright_year, "2012"},
  {author_name, "Tim McGilchrist"},
  {author_email,"timmcgil@gmail.com"}
]}.
{dir, "bin"}.
{template, "escript", "bin/{{name}}"}.
{chmod, 8#00770, "bin/{{name}}"}.
