{variables, [
  {name, "mymodule"}, 
  {copyright_year, "2012"},
  {author_name, "Tim McGilchrist"},
  {author_email,"timmcgil@gmail.com"}
]}.
{dir, "tests"}.
{template, "eunit.erl", "tests/{{name}}_tests.erl"}.
