{variables, [
  {name, "pagename"}, 
  {app_name, "app_name"},
  {copyright_year, "2012"},
  {author_name, "Tim McGilchrist"},
  {author_email,"timmcgil@gmail.com"}
]}.
{dir, "test"}.
{template, "nitropage.erl", "src/{{app_name}}_{{name}}_page.erl"}.
