{variables, [
  {name, "elementname"}, 
  {app_name, "app_name"},
  {copyright_year, "2012"},
  {author_name, "Tim McGilchrist"},
  {author_email,"timmcgil@gmail.com"}
]}.
{template, "nitroelem.erl", "src/{{app_name}}_{{name}}_element.erl"}.
