{variables, [
  {name, "my_resource"}, 
  {app_name, "wm_app"},
  {copyright_year, "2012"},
  {author_name, "Tim McGilchrist"},
  {author_email, "timmcgil@gmail.com"}
]}.
{template, "webmachine_resource.erl", "src/{{app_name}}_{{name}}_resource.erl"}.
